@page
@model CheckoutModel
@using Homework3_Solution.Models

<div class="p-3 text-center">
    <h1>ThoughtTronix Checkout</h1>
    <p class="fs-5 text-secondary">Congratulations, you are about to unlock the full potential of your mind with MindSync. Rest easy knowing MindSync will make those difficult life decisions for you. Please checkout below. Your thoughts, our business.</p>
</div>

<div class="row">
    <div class="col-7">
        <h4 class="mb-3">Billing address</h4>
        <form method="post" asp-page="Confirmation">
            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="OrderItem.FirstName" class="form-label"></label>
                    <input asp-for="OrderItem.FirstName" class="form-control">
                    <span asp-validation-for="OrderItem.FirstName" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="OrderItem.LastName" class="form-label"></label>
                    <input asp-for="OrderItem.LastName" class="form-control">
                    <span asp-validation-for="OrderItem.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="OrderItem.Email" class="form-label"></label>
                    <input asp-for="OrderItem.Email" class="form-control">
                    <span asp-validation-for="OrderItem.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="OrderItem.Address" class="form-label"></label>
                    <input asp-for="OrderItem.Address" class="form-control">
                    <span asp-validation-for="OrderItem.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5">
                    <label asp-for="OrderItem.Country" class="form-label"></label>
                    <select asp-for="OrderItem.Country" class="form-select" asp-items="Html.GetEnumSelectList<Country>()">
                        <option value="">Choose...</option>
                    </select>
                    <span asp-validation-for="OrderItem.Country" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="OrderItem.State" class="form-label"></label>
                    <select asp-for="OrderItem.State" class="form-select" asp-items="Html.GetEnumSelectList<State>()">
                        <option value="">Choose..</option>
                    </select>
                    <span asp-validation-for="OrderItem.State" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="OrderItem.Zip" class="form-label"></label>
                    <input asp-for="OrderItem.Zip" class="form-control">
                    <span asp-validation-for="OrderItem.Zip" class="text-danger"></span>
                </div>
            </div>
            <hr class="my-4">
            <div class="form-check">
                <input asp-for="OrderItem.SameShippingInfo" type="checkbox" class="form-check-input">
                <label asp-for="OrderItem.SameShippingInfo" class="form-check-label"></label>
            </div>
            <div class="form-check">
                <input asp-for="OrderItem.SaveInformation" type="checkbox" class="form-check-input">
                <label asp-for="OrderItem.SaveInformation" class="form-check-label"></label>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">Payment</h4>
            <div class="my-3">
                <div class="form-check">
                    <input asp-for="OrderItem.PaymentType" type="radio" class="form-check-input" value="1">
                    <label class="form-check-label">Credit card</label>
                </div>
                <div class="form-check">
                    <input asp-for="OrderItem.PaymentType" type="radio" class="form-check-input" value="2">
                    <label class="form-check-label">Debit card</label>
                </div>
                <div class="form-check">
                    <input asp-for="OrderItem.PaymentType" type="radio" class="form-check-input" value="3">
                    <label class="form-check-label">PayPal</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="OrderItem.NameOnCard" class="form-label"></label>
                    <input asp-for="OrderItem.NameOnCard" class="form-control">
                    <span asp-validation-for="OrderItem.NameOnCard" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="OrderItem.CreditCardNumber" class="form-label"></label>
                    <input asp-for="OrderItem.CreditCardNumber" class="form-control">
                    <span asp-validation-for="OrderItem.CreditCardNumber" class="text-danger"></span>
                </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Checkout</button>
        </form>
    </div>
    <div class="col-3">
        <h4>Your cart</h4>
        <table class="my-3 table border">
            <tr>
                <td>MindSync Free</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>$5.99</td>
            </tr>
            <tr>
                <td>Taxes & Fees</td>
                <td>$17.99</td>
            </tr>
            <tr class="border border-3">
                <td>Total (USD)</td>
                <td><strong>$23.98</strong></td>
            </tr>
        </table>
    </div>
</div>

<!-- Add JS code for Data Validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}